* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
}

body {
  background-color: white;
}

.page-header {
  background-color: white;
  height: 60px;
  border-bottom: 2px solid black;
}

.page-header .header-wrapper {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
}

.page-header .title {
  max-width: inherit;
  position: relative;
  padding: 15px 10px 0 0;
  width: 200px;
  height: 50px;
  text-decoration: none;
  font-size: 1.5em;
  color: black;
  text-shadow: 2px 0px 20px purple;
}

#display {
  display: flex;
  align-items: center;
  padding: 0 25px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

#display .card {
  margin: 25px 15px;
}

.card {
  width: 70%;
  background: linear-gradient( 135deg, 	purple, black);
  color: #fff;
  margin: 50px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  box-shadow: 0 5px 20px #fff;
  text-align: center;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search select {
  width: 50%;
  border: 0;
  outline: 0;
  background: black;
  border: 2px solid white;
  color: white;
  padding: 10px 25px;
  height: 60px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
}

.weather-icon {
  width: 100px;
  margin-top: 30px;
}

.weather h1 {
  font-size: 2.5em;
  font-weight: 500;
}

.weather h2 {
  font-size: 1.5em;
  font-weight: 400;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.col1 {
  padding: 15px 15px;
}

.col1 img {
  width: 50px;
  height: 50px;
}

.col1 div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.col1 div p {
  padding-right: 5px;
  padding-top: 15px;
}

.col2 {
  padding: 15px 15px;
}

.col2 img {
  width: 50px;
  height: 50px;
}

.col2 div p {
  padding-top: 15px;
}

.panel-footer {
  padding: 40px 35px;
  text-align: center;
  text-shadow: 2px 0px 20px purple;
}

.panel-footer .attributes a {
  color: black;
  text-decoration: none;
}

.panel-footer .copyright {
  padding-top: 15px;
}